#c1{
margin-top: 140px;
font-size: 3rem;
word-spacing:inherit;
color:yellow;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
text-align-last: center;
}
#d1{
 
    margin-top: 0px;
    font-size: 2.5rem;
    font-family: 'Nanum Brush Script', cursive;
    text-align: center;
}
body{ 
    background-image: url("7.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: seashell;
    
    
}